.cta-itm-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.cta-itm {
    margin: 0 1rem;
}
.cta-itm .button {
    min-width: 250px;
}

.cta-wrapper.center-align .cta-itm-wrapper {
    justify-content: center;
}
